.assignment-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
    gap:20px;
}

.assignment-header h1{
    color:#1e293b;
    margin-bottom:5px;
}

.assignment-header p{
    color:#64748b;
}

.add-assignment-btn{
    background:#2563eb;
    color:#fff;
    padding:12px 22px;
    border-radius:10px;
    text-decoration:none;
    font-weight:600;
    transition:.3s;
}

.add-assignment-btn:hover{
    background:#1d4ed8;
}

@media(max-width:768px){
    .subject-header{
        flex-direction:column;
        align-items:flex-start;
    }
}